*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:	#FF6347;
}

h1{
    text-align: center;
    background-size: cover;
}

img{
    
}

h3{
    text-align: center;
}

form#searchForm{
    display: grid;
    
}

button#restaurang {
    background-color: 	#FAFAD2; /* Green */
    border: none;
    color:black;
    padding: 5px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 250px;
    opacity:0.9;
  }
  button#restaurang {
    transition-duration: 0.4s;
  }
  
  button#restaurang:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

button#clear{
    background-color: 	#FAFAD2; /* Green */
    border: none;
    color:black;
    padding: 5px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 250px;
    opacity:0.9;
    margin-bottom:30px;
}

button#clear {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  button#clear:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.40), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  input#cityInput{
    background-color:#FAFAD2;
    padding: 5px;
    border-radius: 10px;
    width: 30%;
    margin-bottom: 15px;
    margin-left: 130px;
    
  }

  input#cousin{
    background-color:#FAFAD2;
    padding: 5px;
    border-radius: 10px;
    width: 30%;
    margin-left: 130px;
    
    
  }
  
