*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:	#FF6347;
}


h3{
  text-align: center;
  padding-bottom: 20px;
}


main.container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 flex-flow: column
  
}

.one{

}

.two{

}

.three{

}


#state-select{
  background-color:#FAFAD2;
  margin-left: 150px;
  padding: 5px 40px;
  border-radius: 10px;
  width: 30px;
  

}

button#restaurang {
    background-color: 	#FAFAD2; /* Green */
    border: none;
    margin:30px 90px;
    color:black;
    padding: 5px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 200px;
  }
  button#restaurang {
    transition-duration: 0.4s;
  }
  
  button#restaurang:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

button#clear{
    background-color: 	#FAFAD2; /* Green */
    border: none;
    color:black;
    padding: 5px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width:80px;
}

button#clear {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  button#clear:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.40), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  input#cityInput{
    
    background-color:#FAFAD2;
    padding: 5px;
    margin: 0px 50px;
    border-radius: 10px;
    width: 30%;
  }

  input#cousin{
    background-color:#FAFAD2;
    padding: 5px;
    border-radius: 10px;
    width: 30%;
    
  }

  #clear{
    margin: 0px 150px;
  }

  #list{
    border: 1px solid;
    width:300px;
    margin:0px 40px;
    text-decoration-skip: none;
  }

